@* @{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p> *@

@{
    int x = 90;
}

<p>Value of x is @x</p>


Assignments
Subjects
Students
Teachers
College
Program
Semester